@import url(__item/photo-grid__item.css);

.photo-grid {
  max-width: 1280px;
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(279.7px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1023px) and (min-width: 425px) {
  .photo-grid {
    max-width: 976px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 321px) and (max-width: 424px) {
  .photo-grid {
    row-gap: 16px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    row-gap: 8px;
    padding: 0 16px;
  }
}