@import url(_line-height/_large/content-title_line-height_large.css);
@import url(_line-height/_reg/content-title_line-height_reg.css);

.content-title {
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  max-width: 800px;
  margin: 0;
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .content-title {
    font-size: calc(11.7vw - 48px);
    line-height: 1.1;
    max-width: 85%;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  .content-title {
    font-size: calc(2.9vw + 20px);
    line-height: 1.1;
    max-width: 85%;
  }
}

@media screen and (max-width: 424px) {
  .content-title {
    font-size: 32px;
    line-height: 35px;
  }
}

